<nav class="navbar my-3 navbar-expand-lg bg-dark w-50 mx-auto rounded-5 navbar-dark">
  <div class="container">
    <button class="navbar-toggler mx-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mx-auto text-center">
        <a class="nav-link" routerLink="seafood" routerLinkActive="active-link">Seafood</a>
        <a class="nav-link" routerLink="pasta" routerLinkActive="active-link">Pasta</a>
        <a class="nav-link" routerLink="pizza" routerLinkActive="active-link">Pizza</a>
      </div>
    </div>
  </div>
</nav>
<div class="container mb-4">

  <router-outlet></router-outlet>
  
</div>
